.goals-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.chart {
  margin: 40px;
}
.gantt-body-columns {
  .gantt-column {
    border-right: white;
  }
}
