<div class="create-survey-controller" layout layout-align="center start" layout-wrap>
  <div flex="none" flex-lt-lg="100" layout="column" layout-align="center center" layout-wrap class="my-surveys">
    <div layout layout-align="center center">
      <h3 flex="none" class="md-headline" style="padding-right:25px;">My Surveys</h3>
      <md-button class="md-fab md-primary" ng-click="createNewSurvey()"><md-icon>add</md-icon><md-tooltip>create new survey</md-tooltip></md-button>
    </div>
    <div layout layout-align="center center" class="survey md-subhead">
      <div flex="20">Name</div>
      <div flex="20">Created</div>
      <div flex="20">Administer</div>
      <div flex="15"> </div>
      <div flex="15"> </div>
      <div flex="15"> </div>
    </div>
    <div flex="none" layout layout-align="center center" class="survey" ng-class-odd="'odd'" ng-repeat="survey in surveys | filter:surveyFilter | orderBy: survey.createdDate">
      <div flex="20">{{survey.name}}</div>
      <div flex="20">{{survey.createdDate}}</div>
      <div flex="20">{{survey.administeredDate}}</div>
      <div flex="15">
        <md-button class="md-primary" ng-click="cloneSurvey(survey)">Clone<md-tooltip>Create new survey from template</md-tooltip></md-button>
      </div>
      <div flex="15">
        <md-button class="md-warn" ng-click="deleteSurvey(survey)">Delete</md-button>
      </div>
      <div flex="15">
        <md-button class="md-primary" ng-click="selectSurveyResponse(survey)">Results</md-button>
      </div>
    </div>
  </div>
  <survey-builder survey="survey" surveyType="surveyType" school="school" sections="sections"></survey-builder>
  <survey-aggregate survey="aggregateSurvey" survey-aggregates="surveyAggregates"></survey-aggregate>
</div>
