<md-toolbar layout="row" md-theme="{{theme}}">
  <md-icon md-ink-ripple md-font-set="material-icons" ng-click="toggleSideNav()" class="material-icons md-24 arrow-icon"> menu </md-icon>
  <div style="outline:none;" class="md-toolbar-tools no-select" tabindex="0">
    <span flex="none" class="no-select" style="outline:none; cursor:pointer;" ng-click="goToHome()">Excel Academy</span>
    <span flex layout="row"><span class="page-title" ng-show="currentPage.name">&nbsp; > &nbsp;</span><span class="page-title">{{currentPage.name}}</span></span>
    <div flex="none" layout="column" layout-gt-md="row">
    <md-menu-bar>
      <md-menu md-position-mode="target-right target" md-offset="0 78" >
        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <div id="user-menu" class="circular-login">
            <md-icon class="material-icons md-48 arrow-icon">face</md-icon>
            <md-tooltip>User menu</md-tooltip>
          </div>
        </md-button>
        <md-menu-content width="4" >
          <md-menu-item>
            <md-button ng-disabled="true">
                <div layout="row">
                  <p flex>My Alerts</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="userRole != 'Student' && userRole != 'Guardian'">
            <md-button ng-disabled="true">
                <div layout="row">
                  <p flex>My Reports</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item><md-button ng-click="logout()">Logout</md-button></md-menu-item>
          <md-menu-item><md-button ng-click="goToChangePassword()">Password Reset</md-button></md-menu-item>
        </md-menu-content>
      </md-menu>
      </md-menu-bar>
    </div>
  </div>
</md-toolbar>
<md-content md-theme="{{theme}}" layout="row" flex>
  <div layout="column">
    <md-sidenav layout="column" flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-content>
        <h2 class="menu-heading md-subhead">Navigation Menu</h2>
        <md-button class="md-primary nav-item md-ink-ripple" ng-click="goToHome()"><span>Student List</span></md-button>
        <md-button ng-show="userRole !== 'Student' && userRole !== 'Guardian'" class="md-primary nav-item md-ink-ripple" ng-click="goToSchoolDash()"><span>School Dashboard</span></md-button>
        <md-button ng-show="userRole !== 'Student' && userRole !== 'Guardian'" class="md-primary nav-item md-ink-ripple" ng-click="goToMySurveys()"><span>My Surveys</span></md-button>
        <md-button ng-show="userRole === 'Student'"class="md-primary nav-item md-ink-ripple" ng-click="goToMySurveyResponses()"><span>My Survey Responses</span></md-button>
        <md-button ng-disabled="true" class="md-primary nav-item md-ink-ripple">Saved Reports</md-button>
        <md-button ng-disabled="true" class="md-primary nav-item md-ink-ripple">Report Builder</md-button>
        <md-divider></md-divider>
        <md-button ng-show="userRole === 'Administrator' || userRole === 'Super_administrator'" class="md-primary nav-item md-ink-ripple" ng-click="goToAdmin()"><span>System Administration</span></md-button>
      </md-content>
    </md-sidenav>
  </div>
  <div layout="column" flex md-theme="{{theme}}">
      <md-content flex layout="column" layout-align="space-between stretch" id="content">
        <div ui-view class="main-container">
          <div layout="row" class="product-footer" layout-align="start center">
            <div class="edpanel-logo" flex="none"></div>
            <div flex></div>
            <div layout="row" layout-align="center center">
              <md-button class="md-primary" ng-href="http://myedpanel.com/about" target="_blank">About Us</md-button>
              <md-button class="md-primary" ng-href="http://myedpanel.com/privacy" target="_blank">Privacy</md-button>
            </div>
          </div>
        </div>
        <div ng-if="UAService.isChrome || UAService.isIE || UAService.isAndroid" layout="row" class="product-footer" layout-align="start center">
          <div class="edpanel-logo" flex="none"></div>
          <div flex></div>
          <div layout="row" layout-align="center center">
            <md-button class="md-primary" ng-href="http://myedpanel.com/about" target="_blank">About Us</md-button>
            <md-button class="md-primary" ng-href="http://myedpanel.com/privacy" target="_blank">Privacy</md-button>
          </div>
        </div>
      </md-content>
  </div>
</md-content>
