<md-toolbar layout="row">
  <div style="outline:none;" class="md-toolbar-tools" tabindex="0">
    <span style="outline:none; cursor:pointer;" ng-click="goToHome()">Teacher Dashboard</span>
    <span flex></span>
    <div class="md-toolbar-item md-tools docs-tools" layout="column" layout-gt-md="row">
      <md-menu md-position-mode="target-right target" md-offset="0 78" >
        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <div id="user-menu" class="circular-login"></div>
        </md-button>
        <md-menu-content width="4" >
          <md-menu-item>
            <md-button ng-click="ctrl.announceClick($index)">
                <div layout="row">
                  <p flex>Reports</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="ctrl.announceClick($index)">
                <div layout="row">
                  <p flex>Report Builder</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="ctrl.announceClick($index)">
                <div layout="row">
                  <p flex>Account settings</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <hr/>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="logout()">
                <div layout="row">
                  <p flex>Logout</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
</md-toolbar>

<div flex layout="row">
    <md-content flex id="content">
      <div ui-view class="main-container"></div>
    </md-content>
</div>
<div class="student-prototype">PROTOTYPE</div>