.md-toolbar-tools {
	.md-icon-button {
	  width: 54px;
      height: 54px;
      border-radius: 27px;
      -webkit-border-radius: 27px;
      -moz-border-radius: 27px;
      vertical-align: middle;
	}
  .page-title {
    font-weight: bold;
  }
}