.md-toolbar-tools {
  .user-menu {
    padding: 0px 0px;
  }
  .material-icons {
    outline:0px solid transparent;
  }
  .md-button > span {
    color: rgb(63,81,181) !important;
  }
  height:55px;
  min-height:55px;
	.md-icon-button {
	  width: 50px;
    height: 50px;
    padding: 0px 0px 0px 0px;
    border-radius: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 25px;
    vertical-align: middle;
	}
  .page-title {
    font-weight: bold;
    cursor: default;
  }
}
md-toolbar {
  height: 55px;
  min-height: 55px;
  md-icon{
    margin-left:10px;
    cursor: pointer;
  }
}
md-sidenav {
  h2 {
    color: #b9b9b9;
  }
  text-align: center;
  .nav-item {
    width: 100%;
    margin:0px 0px 0px;
    padding: 10px;
    > span {
      margin-left:0px;
    }
  }
}
