<md-toolbar layout="row" md-theme="{{theme}}">
  <md-icon md-ink-ripple md-font-set="material-icons" ng-click="toggleSideNav()" class="material-icons md-36 arrow-icon"> menu </md-icon>
  <div style="outline:none;" class="md-toolbar-tools" tabindex="0">
    <span flex="none" style="outline:none; cursor:pointer;" ng-click="goToHome()">{{userRole}} Dashboard</span>
    <span flex layout="row"><span ng-show="currentPage.name">&nbsp; > &nbsp;</span><span class="page-title">{{currentPage.name}}</span></span>
    <div flex="none"class="md-toolbar-item md-tools docs-tools" layout="column" layout-gt-md="row">
      <md-menu md-position-mode="target-right target" md-offset="0 78" >
        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <div id="user-menu" class="circular-login"></div>
        </md-button>
        <md-menu-content width="4" >
          <md-menu-item>
            <md-button ng-click="ctrl.announceClick($index)">
                <div layout="row">
                  <p flex>My Alerts</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="userRole != 'Student' && userRole != 'Guardian'">
            <md-button ng-click="ctrl.announceClick($index)">
                <div layout="row">
                  <p flex>My Reports</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="userRole != 'Student' && userRole != 'Guardian'">
            <md-button ng-click="ctrl.announceClick($index)">
                <div layout="row">
                  <p flex>Report Builder</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <hr/>
          </md-menu-item>
          <md-menu-item ng-show="userRole == 'Administrator'">
            <md-button ng-click="goToAdmin()">
                <div layout="row">
                  <p flex>Administration</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="logout()">
                <div layout="row">
                  <p flex>Logout</p>
                  <md-icon md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
                </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>

      </md-menu>
    </div>
  </div>
</md-toolbar>
<md-content layout="row" flex>
  <div layout="column">
    <md-sidenav layout="column" flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <md-content layout-padding>
        some garbage content
      </md-content>
    </md-sidenav>
  </div>
  <div layout="column" flex md-theme="{{theme}}">
      <md-content flex layout="column" id="content">
        <div ui-view class="main-container"></div>
      </md-content>
  </div>
</md-content>
