<div class="students-grid">
	<div class="row" ng-show="studentsData.length > 1">
		<div class="col-lg-4 searchbox">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for student" ng-model="search.name">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</div>
		</div>
	</div>
	<div class="table-container">
		<div class="row-header">
			<div class="table-cell"></div>
			<div class="table-cell"><b>Behavior</b></div>
			<div class="table-cell"><b>Homework</b></div>
			<div class="table-cell"><b>Attendance</b></div>
			<div class="table-cell"><b>GPA</b></div>
		</div>
		<div class="table-row" ng-repeat="student in studentsData | filter:search:strict" ng-click="goToStudent()">
			<div class="table-cell"><span class="student-link"><b>{{student.name}}</b></span></div>
			<div class="table-cell"><div class="choropleth band-{{student.behaviorClass}}" tooltip-placement="bottom" tooltip="{{student.behavior}} demerits"></div></div>
			<div class="table-cell"><div class="choropleth band-{{student.homeworkClass}}" tooltip-placement="bottom"  tooltip="{{student.homework}}% completion"></div></div>
			<div class="table-cell"><div class="choropleth band-{{student.attendanceClass}}" tooltip-placement="bottom" tooltip="{{student.attendance}} absenses"></div></div>
			<div class="table-cell"><div class="choropleth band-{{student.gpaClass}}" tooltip-placement="bottom" tooltip="{{student.gpa}}"></div></div>
		</div>
	</div>
</div>