<div class="reset-password">
  <form name="login" class="row change-password-form" layout="row" layout-align="center start">
    <div layout="column" layout-align="center center">
      <h3 class="md-headline form-signin-heading" style="text-align:center;">{{name}}, let's change your password</h3>
      <md-input-container md-no-float>
        <input type="password" placeholder="new password" ng-model="newPassword" edpanel-enter-keypress="changePassword();" tabindex="1">
      </md-input-container>
      <md-input-container md-no-float>
        <input type="password" placeholder="retype new password" ng-model="newPassword2" edpanel-enter-keypress="changePassword();" tabindex="2">
      </md-input-container>
      <md-progress-linear md-mode="{{mode}}"></md-progress-linear>
      <md-button id="sign-in" class="sign-in md-raised md-primary" ng-click="changePassword()">change password</md-button>
      <h3 ng-show="error.msg" style="text-align:center;color:red;">{{error.msg}}</h3>
    </div>
  </form>
</div>
