.courses-container {
  text-align: center;
  margin: 0em 2em 0em 2em;
  .courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    > div {
      flex-grow:1;
    	min-width:450px;
    	max-width:800px;
    }
  }
}