<md-menu-bar class="notifications-menu" style="padding:0px 10px;">
  <md-menu>
    <button ng-click="$mdOpenMenu($event);renderNotifications();" layout layout-align="center center" aria-label="Notifications" class="notifications-circle" ng-class="{ 'active': notificationList.length}">
      <md-icon class="material-icons md-24" ng-show="notificationList.length === 0">notifications</md-icon>
      <div class="md-title" style="color:white; text-shadow: #000 .05em .05em .05em;" ng-show="notificationList.length > 0">{{notificationList.length > 9 ? '9+': notificationList.length }}</div>
      <md-tooltip>notifications</md-tooltip>
    </button>
    <md-menu-content width="6">
      <div layout layout-align="space-between center" class="notification-list-header">
        <md-icon class="material-icons md-24 notification-settings-icon" ng-click="goToNotifications()">settings<md-tooltip>setup notifications</md-tooltip></md-icon>
        <span>EdPanel Notifications</span>
        <md-icon class="material-icons md-24 notification-settings-icon" ng-click="dismissAll()">clear_all<md-tooltip>dismiss all</md-tooltip></md-icon>
      </div>
      <md-list class="notification-list">
        <md-list-item style="padding:0px" layout="column" layout-align="start start" ng-repeat="n in notificationList">
          <notificationcard notification="n" notification-list="notificationList">
          </notificationcard>
          </md-list-item>
      </md-list>
    </md-menu-content>
  </md-menu>
</md-menu-bar>
