<md-toolbar layout="row">
  <div class="md-toolbar-tools" tabindex="0">
    <span>EdPanel - Excel Academy</span>
  </div>
</md-toolbar>
<form name="login" class="row login">
  <div class="col-md-3 col-md-offset-4">
    <h2 class="form-signin-heading" style="text-align:center;">Please sign in</h2>
    <!--<label for="inputEmail" class="sr-only">Email address</label>
    <input style="margin-bottom:.25em; font-size: 18px;" type="text" id="inputEmail" class="form-control" placeholder="Email address" ng-model="inputEmail" autocapitalize="off" edpanel-enter-keypress="authenticate();" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input style="margin-bottom:.25em; font-size: 18px;" type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password" edpanel-enter-keypress="authenticate();" required>
    <div style="margin-bottom: 2em;"></div>-->

    <md-input-container flex>
          <label>Email address</label>
          <input required autofocus name="email" ng-model="inputEmail" edpanel-enter-keypress="authenticate();">
    </md-input-container>
    <md-input-container flex>
          <label>Password</label>
          <input type="password" ng-model="password" edpanel-enter-keypress="authenticate();">
    </md-input-container>

    <md-button id="sign-in" class="sign-in md-raised md-primary" ng-click="authenticate()">Sign in</md-button>
    <h3 ng-show="showErrorMsg" style="text-align:center;color:red;">Unable to authenticate</h3>
  </div>
</form>
