<div class="student-section" flex="auto">
  <md-card>
      <md-card-content>

        <h2 class="md-headline">{{section.course.name}}</h2>
        <div layout="row" layout-wrap layout-align="center start" class="grade-container">
          <div flex="none" class="grade-goal" style="position: relative">
              <h3 class="md-title">Current Grade</h3>

            <md-fab-speed-dial class="md-fab-top-right"  md-open="section.isClosed" md-direction="left" ng-class="toolbarAnimation">
              <md-fab-trigger>
                <md-button aria-label="menu" class="md-icon-button">
                  <md-icon md-font-set="material-icons">more_vert</md-icon>
                </md-button>
              </md-fab-trigger>
              <md-fab-actions>
                <md-button  ng-click="editGoal(section)" class="md-fab md-primary md-raised md-mini">
                  <md-icon md-font-set="material-icons"> mode_edit </md-icon>
                </md-button>
              </md-fab-actions>
            </md-fab-speed-dial>

            <div id="gauge-{{section.goal.nameId}}" class="goal-gauge" style="height: 175px"></div>

            <div ng-show="section.editActive" class="editSlider">
              <md-content>
                <div layout>
                  <md-slider test-drag-end ng-model="section.goal.proposedValue" flex= min="0" max="100" aria-label="red" id="red-slider" class="">
                  </md-slider>
                  <div flex="20" layout layout-align="center center">
                    <input type="number" ng-model="section.goal.proposedValue" aria-label="red" aria-controls="red-slider">
                  </div>
                </div>
                <div layout>
                  <md-button ng-click="proposeEdit(section)" aria-label="menu" class="md-fab md-primary md-raised md-mini">
                    <md-icon md-font-set="material-icons">check</md-icon>
                  </md-button>
                  <md-button ng-click="section.editActive = false" aria-label="menu" class="md-fab md-warn md-raised md-mini">
                    <md-icon md-font-set="material-icons">close</md-icon>
                  </md-button>
                </div>
              </md-content>
            </div>
            <div layout="row" flex="none" class="current-grade grade-item">
              <div ng-repeat="termGrade in section.termGrades" flex layout="column">
                <div class="md-subhead">{{termGrade.name}}</div>
                <div class="md-headline">{{termGrade.letterGrade || '--'}}</div>
              </div>
            </div>
          </div>
          <div flex="none" class="grade-item">
            <h3 class="md-subhead">Component Scores</h3>
            <div ui-grid="{ data: myData, enableColumnMenus: false }" class="grade-component-grid"></div>
          </div>
          <div flex="none" class="component-grades grade-item">
            <h3 class="md-subhead">Grading Formula</h3>
            <gradedonut section="section" course-title="{{section.grade}}" grade-weights="section.gradeFormula.assignmentTypeWeights"></gradedonut>
          </div>
        </div>
    </md-card-content>
    <md-button class="md-raised md-button-toggle md-ink-ripple assignment-toggler" ng-click="showAssignments()">
      <div layout="row" layout-align="center center">
        <div class="assignment-label md-subhead">Assignment Details</div>
        <div style="width:40px;"></div>
        <div class="toggle-icon-wrapper">
          <md-icon md-font-set="material-icons" class="material-icons md-36 arrow-icon"> keyboard_arrow_down </md-icon>
        </div>
      </div>
    </md-button>
    <div class="assignment-scores slide-closed-assignments"></div>
  </md-card>
</div>
