<div class="student-section" flex="auto">
  <md-card>
      <md-card-content>
        <h2 class="md-display-1">{{section.course.name}}</h2>
        
        <div layout="row" layout-wrap layout-align="center start" class="grade-container">
          <div flex="none" class="current-grade grade-item">
            <h3 class="md-title ">Current Grade</h3>
            <h1 class="md-display-4">{{sectionGrade.currentGrade || '--'}}</h1>
            <div class="subgrades" layout="row">
              <div ng-repeat="termGrade in section.termGrades" flex layout="column">
                <div class="md-subhead">{{termGrade.name}}</div>
                <div class="md-headline">{{termGrade.letterGrade || '--'}}</div>
              </div>
            </div>
          </div>

          <div flex="none" class="grade-item">
            <h3 class="md-title">Component Scores</h3>
            <div ui-grid="{ data: myData, enableColumnMenus: false }" class="grade-component-grid"></div>
          </div>

          <div flex="none" class="component-grades grade-item">
            <h3 class="md-title">Grading Formula</h3>
            <gradedonut section="section" course-title="{{section.grade}}" grade-weights="section.gradeFormula.assignmentTypeWeights"></gradedonut>
          </div>
        </div>
    </md-card-content>
    <md-button class="md-raised md-button-toggle md-ink-ripple assignment-toggler" ng-click="showAssignments()">
      <div layout="row" layout-align="center center">
        <div class="assignment-label md-title">Assignment Details</div>
        <div style="width:40px;"></div>
        <div class="toggle-icon-wrapper">
          <md-icon md-font-set="material-icons" class="material-icons md-36 arrow-icon"> keyboard_arrow_down </md-icon>
        </div>
      </div>
    </md-button>
    <div class="assignment-scores slide-closed-assignments"></div>
  </md-card>
</div>