.jumbotron-container {
  background-size: cover;
  background-position: center center;
}
.student-nav {
	.jumbotron-container {
	  background-image: url(../assets/images/highschool.jpg);
	}
	.jumbotron-container.blackboard {
		background-image: url(../assets/images/blackboard.jpg);
	}
	.jumbotron-container.elementaryschool {
		background-image: url(../assets/images/elementaryschool.jpg);
	}
	.navbar {
		.navbar-brand {
			color: white;
		}
		opacity:0.9;
		.circular-login {
			width: 34px;
			height: 34px;
			border-radius: 16px;
			-webkit-border-radius: 16px;
			-moz-border-radius: 16px;
			background: url(../../assets/images/markroper.png) no-repeat;
			background-size: 100%;
			}
		.btn, .form-control {
			min-height:34px;
		}
	}
}