<div layout layout-align="center start" layout-wrap class="my-survey-responses">
  <div flex="none" flex-lt-lg="100" layout="column" layout-align="center center" layout-wrap class="my-surveys" ng-show="!questions">
    <div layout layout-align="center center">
      <h3 flex="none" class="md-headline" style="padding-right:20px;">Recent Surveys</h3>
      <md-switch flex="none" ng-click="evaluateSurveyFilter()" ng-model="unansweredOnly" aria-label="show all surveys">
        All - Unanswered
      </md-switch>
    </div>
    <div layout layout-align="center center" class="survey md-subhead">
      <div flex="25">Name</div>
      <div flex="25">Created</div>
      <div flex="25">Created By</div>
      <div flex="25"></div>
    </div>
    <div flex="none" layout layout-align="center center" class="survey" ng-class-odd="'odd'" ng-repeat="survey in surveys | filter:surveyFilter | orderBy: survey.createdDate">
      <div flex="25">{{survey.name}}</div>
      <div flex="25">{{survey.createdDate}}</div>
      <div flex="25">{{survey.creator.name}}</div>
      <div flex="25">
        <md-button class="md-primary" ng-click="selectSurveyResponse(survey)">Response</md-button>
      </div>
    </div>
  </div>
</div>
