.student-detail {
  md-tab-item {
    border-radius: 0px 10px 0px 0px;
    border-right: 1px solid #b9b9b9;
  }
  md-tabs-canvas {
    background-color: #F7F7F7;
  }
  md-tab-item.md-active {
    background-color: white;
  }

  .tab-contents {
    padding-top: 10px;
  }
  >h2 {
    margin-top:5px;
    margin-bottom:0px;
    text-align: center;
  }
	/*COURSE DONUTS*/
	.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    > div {
      width:350px;
    }
  }
	h1 {
		text-align: center;
		margin: 20px 0px 45px 0px;
	}
	h3, button {
		font-size: 18px;
		span {
			margin: 15px 5px 15px 5px;
		}
		text-align: center;
	}
}
