.student-detail {
	/*COURSE DONUTS*/
	.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    > div {
      width:350px;
    }
  }
	h1 {
		text-align: center;
		margin: 20px 0px 45px 0px;
	}
	h3, button {
		font-size: 18px;
		span {
			margin: 15px 5px 15px 5px;
		}
		text-align: center;
	}
}
