<div class="student-detail">
	<md-tabs md-center-tabs md-dynamic-height md-border-bottom class="tabs-header">
		<md-tab label="Grades">
			<div class="tab-contents">
				<div style="padding-left:20%; padding-right:20%;" layout="column" layout-align="center center" ng-show="sections.length < 1">
					<h3 flex="50">Loading...</h3>
					<md-progress-linear md-mode="indeterminate" flex="50"></md-progress-linear>
				</div>
				<div class="courses">
					<div class="" ng-repeat="section in sections">
						<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
							<md-button class="md-raised" ng-click="sectionClick(section)">{{section.course.name}}</md-button>
						</section>
						<gradedonut section="section" course-title="{{section.grade}}" grade-weights="section.gradeFormula.assignmentTypeWeights"></gradedonut>
					</div>
				</div>
			</div>
		</md-tab>
		<md-tab label="Goals">
			<div class="tab-contents">
		  	<goals goals="goals"></goals>
		  </div>
		</md-tab>
		<md-tab label="behavior">
			<div class="tab-contents">
				<span>under construction</span>
			</div>
		</md-tab>
		<md-tab label="State Exams">
			<div class="tab-contents">
				<span>Under construction</span>
			</div>
		</md-tab>
		<md-tab label="Graduation">
			<div class="tab-contents">
				<span>Under construction</span>
			</div>
		</md-tab>
	</md-tabs>
</div>
