<div class="student-detail">
	<md-tabs md-center-tabs md-dynamic-height md-border-bottom class="tabs-header">
		<md-tab label="Grades">
			<div class="tab-contents">
				<div class="summary-row" layout="row" layout-align="center center" layout-wrap ng-cloak>
          <div class="gpa-summary grade-summary" layout="column" layout-align="center center">
            <div class="grade-summary-title md-body-1">GPA</div>
            <h2 class="grade-summary-grade md-headline">{{gpa.score || '--'}}</h2>
          </div>
          <div class="grade-summary" layout="column" layout-align="center center">
            <md-input-container>
              <label>Grades term</label>
              <md-select ng-model="currentTerm" ng-model-options="{trackBy: '$value.id'}">
                <md-option ng-repeat="term in terms" ng-value="term">
                  {{term.name}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
				  <div ng-repeat="section in sections" class="grade-summary no-select" layout="column" layout-align="center center">
				  	<div class="grade-summary-title md-body-1" ng-click="scrollToCard(section.course.name)">{{::section.course.name}}
							<md-tooltip>{{::section.name}}</md-tooltip>
				  	</div>
				    <h2 class="grade-summary-grade md-headline">{{section.grade}}</h2>
				  </div>
				</div>
        <div style="padding-left:20%; padding-right:20%;" layout="column" layout-align="center center" ng-show="sections.length < 1">
          <h3 flex="50">Loading...</h3>
          <md-progress-linear md-mode="indeterminate" flex="50"></md-progress-linear>
        </div>
				<div class="" ng-repeat="section in sections" layout="row" layout-align="center center">
					<studentsection section="section"></studentsection>
				</div>
			</div>
		</md-tab>
		<md-tab label="behavior">
			<div class="tab-contents">
        <md-card>
          <md-card-content>
            <div flex="100" class="chorocontainer">
              <h3 class="grade-summary-title md-subhead" style="margin:0px;">Behavior Score by Week</h3>
              <behaviorgraph weekly-behavior-promise="prepScorePromise"></behaviorgraph>
            </div>
          </md-card-content>
        </md-card>
        <md-card>
          <md-card-content>
            <div class="table-and-choro-wrapper" layout="row" layout-wrap layout-align="center start">
              <div flex-gt-md="50" flex="100">
                <h3 class="grade-summary-title md-subhead">Behavior Table</h3>
                <behaviortable behavior-promise="behaviorDataPromise"></behaviortable>
              </div>
              <div flex-gt-md="50" flex="100">
                <h3 class="grade-summary-title md-subhead">Behavior Calendar</h3>
                <chorocalendar slide-closed="hideTray" calendar-data-promise="behaviorDataPromise"></chorocalendar>
              </div>
            </div>
          </md-card-content>
        </md-card>
			</div>
		</md-tab>
		<md-tab label="State Exams">
			<div class="tab-contents">
        <h3 class="md-subhead">Under construction</h3>
			</div>
		</md-tab>
		<md-tab label="Graduation">
			<div class="tab-contents">
        <h3 class="md-subhead">Under construction</h3>
			</div>
		</md-tab>
    <md-tab label="Goals">
      <div class="tab-contents">
        <md-card>
          <md-card-content>
            <div layout="column">
            <div layout="row" layout-align="center center">
              <md-headline style="margin-bottom: 10px;font-size: 30px">Create a Goal</md-headline>
              <md-button class="md-fab" aria-label="Eat cake" ng-show="!createGoal" ng-click="openCreateGoal()">
                <md-icon>add</md-icon>
              </md-button>
            </div>
              <div layout="column" ng-show="createGoal">
            <div layout="row" layout-align="center center">
              <div flex="25">
                <div layout="column" layout-align="start center">
                <md-headline flex>Select Goal Type</md-headline>
                <md-input-container flex class="md-block">
                  <label>Goal Type</label>
                  <md-select ng-model="goal.createType">
                    <md-option ng-repeat="type in goalTypes" value="{{type.uiName}}">
                      {{type.uiName}}
                    </md-option>
                  </md-select>
                </md-input-container>
                  </div>
              </div>
              <div flex="25">
                <div layout="column" layout-align="start center">
                  <md-headline flex>For what class?</md-headline>
                  <md-input-container flex>
                    <md-select ng-model="goal.class">
                      <md-option ng-repeat="section in sections" value="{{section.course.name}}">
                        {{section.course.name}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                  </div>
              </div>
                <div flex="25">
                  <div layout="column" layout-align="start center">
                  <md-headline flex>What Assignment?</md-headline>
                  <md-input-container flex>
                    <input name="assignment" ng-model="goal.assignment" placeholder="Unit 3 Test">
                  </md-input-container>
                    </div>
                </div>
              <div flex="25">
                <div layout="column" layout-align="start center">
                <md-headline flex>What grade would you like to get?</md-headline>
                <md-input-container flex>
                  <input required name="Grade" type="number" step="1" ng-model="goal.desiredGrade"
                         max="100">
                </md-input-container>
                  </div>
              </div>
            </div>
              <div layout="column">
                <md-headline> What obstacles do you face in meeting this goal?</md-headline>
                <md-input-container>
                  <label>Obstacles</label>
                  <textarea ng-model="goal.obstacle"rows="5" md-select-on-focus></textarea>
                </md-input-container>
              </div>
            <div layout="column">
              <md-headline> How do you plan to accomplish this goal?</md-headline>
              <md-input-container>
                <label>Plan</label>
                <textarea ng-model="goal.plan"rows="5" md-select-on-focus></textarea>
              </md-input-container>
            </div>
              <div layout="column">
                <md-headline> What will happen if you meet this goal?</md-headline>
                <md-input-container>
                  <label>Outcome</label>
                  <textarea ng-model="goal.outcome"rows="5" md-select-on-focus></textarea>
                </md-input-container>
              </div>
              <md-button class="md-fab" aria-label="Eat cake" ng-click="submitCreateGoal()">
                <md-icon>done</md-icon>
              </md-button>
            </div>
            </div>
          </md-card-content>
        </md-card>
        <md-card>
          <md-card-content>
            <div layout="column" layout-align="center center">
              <md-headline style="margin-bottom: 10px;font-size: 30px">Present Goals</md-headline>
            </div>
            <div layout="row" class="goals-container">
              <goal ng-repeat="goal in goals" goal="goal"></goal>
            </div>

          </md-card-content>
        </md-card>
      </div>
    </md-tab>
	</md-tabs>
</div>
