.student-detail {
  .table-and-choro-wrapper {
    background-color: white;
  }
  .gpa-summary {
    width: 125px;
  }
  .summary-row {
    margin-bottom: 8px;
  }
  .grade-summary {
    background-color: white;
    width: 175px;
    padding: 8px;
    h2, h3 {
      cursor:default;
      margin: 0px 0px 0px 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h2 {
      margin-top:3px;
    }
  }
  background-color: $off-white;

  md-tabs-canvas {
    background-color: $off-white;
  }
  md-tab-item.md-active {
    background-color: white;
  }
  .tab-contents {
    padding-top: 10px;
  }
  >h2 {
    margin-top:5px;
    margin-bottom:0px;
    text-align: center;
  }
	/*COURSE DONUTS*/
	.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    > div {
      width:350px;
    }
  }
	h1 {
		text-align: center;
		margin: 0px 0px 0px 0px;
	}
	h3, button {
		font-size: 18px;
		span {
			margin: 15px 5px 15px 5px;
		}
		text-align: center;
	}
}
