$red-color: #F44336;
$yellow-color: #FFEB3B;
$green-color: #4CAF50;
$light-gray-color: rgba(0, 0, 0, 0.117647);
$scatterplot-height: 355px;
$font-size-table-header: 18px;
$off-white:#FCFCFC;
$row-gray:#F2F2F2;
$gray-headline:#525252;

*:focus {
  outline: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body, md-content, .main-container, #content {
  background-color: $off-white;
}

md-radio-button{
  outline:none;
}
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
    width:36px;
    height:36px;
}
.material-icons.md-48 {
  font-size: 48px;
  width:48px;
  height:48px;
  margin-left:0px;
}

.sidemenu-icon {
  width:96px;
  height:96px;
  border-radius:48px;
  -webkit-border-radius:48px;
  -moz-border-radius:48px;
  display:inline-block;
  vertical-align:middle;
  margin-left:15px;
  background-size:96px 96px;
}

.dropdown-menu li:hover {
    cursor: pointer;
}
.product-footer {
  background-color: #E8E8E8;
  margin-top: 20px;
  padding: 45px 0px 45px 0px;
  a {

  }
  .edpanel-logo {
    height: 30px;
    width: 136px;
    background-size: 100%;
    background: url('../assets/images/edpanel.svg');
  }
}

.circular-login {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  cursor:pointer;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

// injector
@import '../components/directives/behaviorgraph/behaviorgraph.scss';
@import '../components/directives/behaviortable/behaviortable.scss';
@import '../components/directives/chorocalendar/chorocalendar.scss';
@import '../components/directives/datetimechart/datetimechart.scss';
@import '../components/directives/goal/goals.scss';
@import '../components/directives/gradedonut/gradedonut.scss';
@import '../components/directives/notifications/createnotification.scss';
@import '../components/directives/notifications/notifications.scss';
@import '../components/directives/scatterplot/scatterplot.scss';
@import '../components/directives/sectiongrid/sections.grid.scss';
@import '../components/directives/settingscard/settingscard.scss';
@import '../components/directives/stackedbar/stackedbar.scss';
@import '../components/directives/studentsection/studentsetion.scss';
@import '../components/directives/studentsoverview/students.grid.scss';
@import '../components/directives/studenttray/studenttray.scss';
@import '../components/directives/survey/surveyAggregate.scss';
@import '../components/directives/survey/surveyBuilder.scss';
@import '../components/directives/survey/surveyQuestionBuilder.scss';
@import '../components/directives/survey/surveyResponse.scss';
@import '../components/directives/teachersections/teacherSections.scss';
@import '../components/routecontrollers/administration/administration.scss';
@import '../components/routecontrollers/home/home.scss';
@import '../components/routecontrollers/login/login.scss';
@import '../components/routecontrollers/mysurveyresponses/mySurveyResponses.scss';
@import '../components/routecontrollers/mysurveys/mySurveys.scss';
@import '../components/routecontrollers/navinclude/navinclude.scss';
@import '../components/routecontrollers/notificationmgmt/notificationmgmt.scss';
@import '../components/routecontrollers/resetpassword/resetpassword.scss';
@import '../components/routecontrollers/schooldash/schooldash.scss';
@import '../components/routecontrollers/schoolselector/schoolselector.scss';
@import '../components/routecontrollers/student/student.scss';
@import '../components/routecontrollers/surveyresults/surveyResults.scss';
@import '../components/routecontrollers/teacherhome/teacherhome.scss';
@import '../components/directives/filterchip/filterChip.scss';
@import '../components/directives/attendancetable/attendancetable.scss';
// endinjector
