<div class="schooldash" layout="column">
  <div ng-if="!d.editDashboard" flex="100">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Dashboard">
        <md-content class="md-padding settings">
          <edpanel-row ng-repeat="row in dashboard.rows" row-contents="row" terms="terms" flex="100" layout="row" layout-wrap></edpanel-row>
        </md-content>
      </md-tab>
      <md-tab label="Quarterly Exams" md-on-select="resolveQuarterlyExamResults()"
              ng-disabled="!statebag.school || statebag.school.name != 'Excel Academy Charter High School'">
        <md-content class="md-padding settings">
          <div class="md-headline">Quarterly Interim Assessments</div>
          <edpanel-row ng-repeat="row in quarterlyExams.rows" row-contents="row" terms="terms" flex="100" layout="row" layout-wrap></edpanel-row>
        </md-content>
      </md-tab>
    </md-tabs>
  </div>
  <div class="edit-container" ng-if="d.editDashboard" flex="100">
    <create-edit-dashboard dashboard="dashboard" terms="terms"></create-edit-dashboard>
  </div>
</div>
