<div class="report-builder" layout="row" layout-wrap>
  <div flex="100" layout="row" layout-align="center center">
    <h3 class="md-headline" style="margin-top:5px; margin-bottom:5px;">Choose chart type</h3>
  </div>
  <div flex="100">
    <ul class="chart-types" flex="100">
      <li class="bar" ng-class="{selected: 'bar'==report.type.toLowerCase()}" ng-click="setReportType('BAR')"><md-tooltip>bar chart</md-tooltip></li>
      <li class="spline" ng-class="{selected: 'spline'==report.type.toLowerCase()}" ng-click="setReportType('SPLINE')"><md-tooltip>line chart</md-tooltip></li>
      <li class="scatterplot" ng-class="{selected: 'scatterplot'==report.type.toLowerCase()}" ng-click="setReportType('SCATTERPLOT')"><md-tooltip>scatter plot</md-tooltip></li>
      <li class="pie" ng-class="{selected: 'pie'==report.type.toLowerCase()}" ng-click="setReportType('PIE')"><md-tooltip>pie chart</md-tooltip></li>
    </ul>
  </div>
  <div flex="100" layout="row" layout-align="center center" class="chart-details">
    <h3 class="md-headline" style="margin-top:20px; margin-bottom:5px;">Define chart details</h3>
  </div>
  <div class="builder" layout="row" flex="100" layout-wrap>
    <div flex="100" layout="row" layout-align="center center">
      <md-input-container class="report-name">
        <label>Report name</label>
        <input ng-model="report.name">
      </md-input-container>
    </div>
    <div class="builder-container" layout="row" flex="100">
      <div class="y-axis" flex="25" layout="column" layout-align="start end">
        <div class="md-subhead" style="margin-bottom:5px; margin-top:35px;">Y-Axis</div>
        <md-input-container>
          <label>Choose axis data</label>
          <md-select ng-model="yData">
            <md-option ng-repeat="opt in yOptions" value="{{opt}}">
              {{opt}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="x-axis" flex="75">
        <div class="x-container">
          <div class="svg-container">
            <div class="legend">
              <div class="md-subhead" style="margin-top:3px; margin-bottom:5px;">Legend</div>
              <md-input-container>
                <label>group by (optional)</label>
                <md-select ng-model="groupBy">
                  <md-option ng-repeat="opt in groupByOptions" value="{{opt}}">
                    {{opt}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div layout="row" layout-align="center center" class="md-subhead" style="margin-bottom:5px;">X-Axis</div>
          <div layout="row" layout-align="center center">
            <md-input-container>
              <label>Choose axis data</label>
              <md-select ng-model="xData">
                <md-option ng-repeat="opt in xOptions" value="{{opt}}">
                  {{opt}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-button class="md-fab md-mini" ng-click="addBuckets()">
              <md-icon>add</md-icon><md-tooltip>Create x-axis ranges (e.g. GPA '1 - 2.5', '2.5 - 3.5')</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </div>
    <div flex="100" layout="row" layout-align="center center" layout-wrap>
      <div class="md-title" layout="row" layout-align="center center" flex="100">Chart Filters</div>
      <expression-editor group="group" query-components="queryComponents"></expression-editor>
    </div>
  </div>
</div>
