.report-container {
  .demographic-parent {
    position:relative;
  }
  .demographics {
    bottom:0px;
  }
  .static-term {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  md-input-container {
    margin-top:0px;
    margin-bottom:0px;
  }
  .details-table {
    position:relative;
  }
  .close-cal {
    z-index: 10;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
