.report-container {
  .graph > div {
    text-align:center;
  }
  .demographic-parent {
    position:relative;
  }
  .demographic-button {
    position: absolute;
    bottom: 8px;
    right: 5px;
  }
  .chart-filters {
    position:absolute;
    bottom: 8px;
    right: 75px;
  }
  .static-term {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  md-input-container {
    margin-top:0px;
    margin-bottom:0px;
  }
  .details-table {
    position:relative;
  }
  .close-cal {
    z-index: 10;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .histogram-container {
    font: 10px sans-serif;

    .bar rect {
      fill: steelblue;
      shape-rendering: crispEdges;
    }

    .bar text {
      fill: #fff;
    }

    .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
  }
}
