<div layout="row" layout-wrap class="report-container">
  <div flex="100" flex-gt-md="100" class="demographic-parent">
    <md-card flex="100" >
      <md-card-content class="graph">
        <div class="md-headline">{{report.name}}</div>
        <div class="md-subhead">
          <md-input-container ng-show="report.supportDateFilter">
            <md-select ng-model="currentTerm" ng-model-options="{trackBy: '$value.name'}">
              <md-option ng-value="term" ng-repeat="term in terms">{{term.name}}</md-option>
            </md-select>
          </md-input-container>
          <div class="static-term" ng-show="!report.supportDateFilter">{{currentTerm.name}}</div>
        </div>
        <stackedbar new-data="newData" sb-legend-pos="top-left" on-click-callback="clickCallback"></stackedbar>
        <div class="details-table" flex="100"></div>
      </md-card-content>
    </md-card>
  </div>
</div>
