.survey-question-builder:active {
  cursor: grabbing;
}
.survey-question-builder {
  > md-input-container {
    margin: 0px 0px;
  }
  background-color: white;
  border-radius: 3px;
  margin:5px;
  position:relative;
  padding: 30px;
  cursor: grab;
  .type-required > md-input-container {
    padding-right:25px;
  }
  .choices {
    text-align: center;
    md-input-container {
      margin: 0px 0px;
      padding-right:75px;
    }
    .choice {
      > div {
        height: 40px;
        padding-top: 8px;
      }
      postiion: relative;
    }
  }
  .remove-question {
    margin: 0px 0px;
    padding: 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
