<div flex="noshrink" flex-lt-lg="100" class="survey-response" ng-show="survey">
  <h3 class="md-headline">{{survey.name}} Response</h3>
  <h3 class="md-subhead"> Created by {{survey.creator.name}} on {{survey.createdDate}}</h3>
  <div ng-if="questionsAndAnswers" class="questions-container">
    <div layout layout-align="start center" ng-repeat="q in questionsAndAnswers" ng-class-odd="'odd'">
      <div flex="none" class="question">{{q.question.question}}</div>
      <div flex="grow" flex-lt-lg="100" class="answer-container">
        <md-input-container ng-if="q.question.type === 'OPEN_RESPONSE'">
          <textarea rows="5" cols="50" ng-model="q.answer"></textarea>
        </md-input-container>
        <md-input-container class="multiple-choice" ng-if="q.question.type === 'MULTIPLE_CHOICE'">
          <label>Choices</label>
          <md-select ng-model="q.answer">
            <md-option ng-repeat="choice in q.question.choices" value="{{$index}}">
              {{choice}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-checkbox class="boolean-answer" ng-model="q.answer" ng-if="q.question.type === 'TRUE_FALSE'"></md-checkbox>
      </div>
    </div>
  </div>
  <div layout layout-align="start center">
    <md-button class="md-raised md-primary" ng-click="submitResponse()">Submit Response</md-button>
    <md-button class="md-raised" ng-click="cancelResponse()">Cancel</md-button>
  </div>
</div>
