.survey-question-builder:active {
  cursor: grabbing;
}
.survey-question-builder {
  background-color: white;
  border-radius: 3px;
  margin:5px;
  position:relative;
  padding: 30px;
  cursor: grab;
  .choice {
    padding-left: 15px;
    > div {
      height: 40px;
      padding-top:8px;
    }
    postiion:relative;
  }
  .remove-question {
    margin: 0px 0px;
    padding: 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
