<div flex="noshrink" flex-lt-lg="100" class="survey-builder" layout="column" layout-align="center center" ng-show="survey">
  <div class="survey-top">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Survey Name</label>
      <input ng-model="survey.name" type="text">
    </md-input-container>
    <div layout layout-align="center center" layout-wrap>
      <md-input-container class="md-block" flex="50">
        <label>Administer to</label>
        <md-select ng-model="surveyType.type">
          <md-option value="district">
            All students in district
          </md-option>
          <md-option value="school">
            All students in school
          </md-option>
          <md-option value="section">
            All students in section
          </md-option>
        </md-select>
      </md-input-container>
      <div flex="50" class="md-block" ng-if="surveyType.type === 'section'">
        <md-input-container class="md-block" flex="50">
          <label>Section</label>
          <md-select ng-model="survey.sectionFk">
            <md-option ng-repeat="section in sections" value="{{section.id}}">
              {{section.course.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <md-datepicker flex="50" ng-model="survey.administeredDate" md-placeholder="Enter due date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
    </div>
  </div>
  <div class="survey-questions">
    <h3 class="md-headline">Questions</h3>
    <div layout layout-wrap class="sortable-container" sv-root sv-part="survey.questions">
      <div flex="none" ng-repeat="question in survey.questions" sv-element>
        <survey-question-builder survey="survey" question="question"></survey-question-builder>
      </div>
      <md-button flex="none" class="md-fab md-primary md-hue-2" aria-label="Add Question" ng-click="addQuestion()">
        <md-icon md-font-set="material-icons">add</md-icon>
        <md-tooltip>add question</md-tooltip>
      </md-button>
    </div>
  </div>
  <div layout layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="createSurvey()">Create Survey</md-button>
    <md-button class="md-raised" ng-click="cancelCreateSurvey()">Cancel</md-button>
  </div>
</div>
