<div class="survey-question-builder md-whiteframe-1dp">
  <md-input-container class="md-icon-float md-block">
    <!-- Use floating label instead of placeholder -->
    <label>Question</label>
    <input ng-model="question.question" type="text">
  </md-input-container>
  <div layout layout-align="space-around center" class="type-required">
    <md-input-container flex="50">
      <label>Question type</label>
      <md-select ng-model="question.type">
        <md-option value="TRUE_FALSE">
          Boolean
        </md-option>
        <md-option value="OPEN_RESPONSE">
          Open response
        </md-option>
        <md-option value="MULTIPLE_CHOICE">
          Multiple choice
        </md-option>
      </md-select>
    </md-input-container>
    <md-checkbox ng-model="question.responseRequired" aria-label="required" flex="50">
      answer required
    </md-checkbox>
  </div>
  <div class="choices" ng-show="question.type === 'MULTIPLE_CHOICE'">
    <div class="md-subhead" layout layout-align="center center">
      Choices
      <md-button class="md-fab-mini md-primary md-hue-2" aria-label="Add Choice" ng-click="addChoice()">
        <md-icon md-font-set="material-icons">add</md-icon>
        <md-tooltip>add choice</md-tooltip>
      </md-button>
    </div>
      <md-input-container class="md-icon-float md-block" class="choice md-subhead" ng-repeat="choice in question.choices">
        <input ng-model="choice.val" type="text">
        <md-button class="remove-question md-warn" aria-label="Remove question" ng-click="removeChoice(choice.val)">
          <md-icon md-font-set="material-icons">clear</md-icon>
        </md-button>
      </md-input-container>
  </div>
  <md-button class="remove-question md-warn" aria-label="Remove question" ng-click="removeQuestion(question)">
    <md-icon md-font-set="material-icons">clear</md-icon>
    <md-tooltip>remove question</md-tooltip>
  </md-button>
</div>
