
<div class="goal">
    <md-card style="max-width: 350px" class="student-goal">
      <md-card-content>
        <md-fab-speed-dial  md-open="demo.isOpen" md-direction="left" class="md-scale md-fab-top-right menu-button">
          <md-fab-trigger>
            <md-button ng-show="editable" aria-label="menu" class="goal-menu md-icon-button">
              <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button ng-click="editGoal(goal)" class="md-fab md-primary md-raised md-mini">
              <md-icon md-font-set="material-icons"> mode_edit </md-icon>
            </md-button>
            <md-button ng-click="deleteGoal(goal)" class="md-fab md-warn md-raised md-mini">
              <md-icon md-font-set="material-icons"> delete </md-icon>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>

        <div layout="column" layout-align="center center">

          <div class="goal-title" flex="85">{{goal.name}}</div>
          <div ng-show="goal.goalType != 'OPEN'" id="gauge-{{::goal.id}}" class="goal-gauge" style="height: 175px"></div>
          <div ng-show="goal.goalType == 'OPEN'" layout='column' style="margin-top:30px;min-height:120px">
            <md-headline ng-show="!goal.editActive" style="font-size: 30px; margin-bottom: 15px">Goal</md-headline>
            <div style="font-size: 18px; margin-bottom: 20px" ng-show="!goal.editActive">{{goal.message}}</div>
            <div layout="column" ng-show="goal.editActive">
              <md-headline> What is your goal?</md-headline>
              <md-input-container>
                <textarea ng-model="goal.message"rows="5" md-select-on-focus></textarea>
              </md-input-container>
            </div>
          </div>
          <div layout="column" ng-show="goal.editActive">
            <md-headline ng-show="goal.goalType != 'OPEN'">Desired Value?</md-headline>
            <md-input-container ng-show="goal.goalType != 'OPEN'">
              <input required name="Grade" type="number" step="1" ng-model="goal.desiredValue"
                     max="100">
            </md-input-container>
          </div>
          <md-headline class="woop-heading">Plan</md-headline>
          <div class="woop-text" ng-show="!goal.editActive">{{goal.plan}}</div>
          <md-input-container ng-show="goal.editActive">
            <textarea ng-model="goal.plan"rows="5" md-select-on-focus></textarea>
          </md-input-container>
          <md-headline class="woop-heading">Obstacles</md-headline>
          <div class="woop-text" ng-show="!goal.editActive">{{goal.obstacles}}</div>
          <md-input-container ng-show="goal.editActive">
            <textarea ng-model="goal.obstacles"rows="5" md-select-on-focus></textarea>
          </md-input-container>
          <md-headline class="woop-heading">Outcome</md-headline>
          <div class="woop-text" ng-show="!goal.editActive">{{goal.outcome}}
          </div>
          <md-input-container ng-show="goal.editActive">
            <textarea ng-model="goal.outcome"rows="5" md-select-on-focus></textarea>
          </md-input-container>
          <div layout="row">
            <md-button ng-show="goal.editActive" ng-click="proposeEdit(goal)" aria-label="menu" class="md-fab md-primary md-raised md-mini">
              <md-icon md-font-set="material-icons">check</md-icon>
            </md-button>
            <md-button ng-show="goal.editActive" ng-click="goal.editActive = false" aria-label="menu" class="md-fab md-warn md-raised md-mini">
              <md-icon md-font-set="material-icons">close</md-icon>
            </md-button>
          </div>


        </div>

      </md-card-content>
    </md-card>
</div>
