.create-wrapper {
  margin: 20px 15px 45px 0px;
}
.goals {
  min-height:300px;
}
.goals-container{
  md-card-content {
    .menu-button{
      margin-top: 40px;
    }
    position:relative;
    md-fab-speed-dial.md-fab-top-right {
      position:absolute;
      top:0px;
    }
  }
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .student-goal{
    .woop-heading {
      font-size: 30px;
      margin-bottom: 10px;
      margin-top: 5px;
    }
    .woop-text {
      text-align: center;
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .progress {
      height: 30px;
      border-radius:0px;
    }
    min-width: 300px;
    .goal-title {
      font-size: 20px;
      text-align: center;
    }
    .goal-danger {
      background-color: $red-color;
    }
    .goal-warning {
      background-color: $yellow-color;
    }
    .goal-success {
      background-color: $green-color;
    }
    .goal-unknown {
      background-color: #A6A6A6;
    }
    .progress-label {
      float: right;
      margin-left: 1em;
    }

    .slide-open-woop {
      overflow: hidden;
      height:auto;
      max-height:550px;
      transition:margin-bottom 10ms linear, max-height 350ms linear ;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .slide-closed-woop {
      overflow:hidden;
      max-height: 0px;
      transition:margin-bottom 10ms linear, max-height 350ms linear;
      margin-bottom: 0px
    }
  }
}

.woop-toggler {
  margin: 0px 0px 0px 0px;
  border-radius:0px;
}
md-icon {
  transition: color 200ms ease;
}
.woop-toggler:hover {
  background-color: #DBDBDB !important;
  md-icon{
    color:rgb(255,64,129);
  }

}

button .rotate {
  transform: rotate(180deg);
}
button .rotateCounterwise {
  transform: rotate(0deg);
}
button .rotate,
button .rotateCounterwise {
  -webkit-transition: 250ms ease all;
  -moz-transition: 250ms ease all;
  -o-transition: 250ms ease all;
  transition: 250ms ease all;
}

.woop-slide {
  width: 100%;
}
