<div class="goal">
    <md-card style="max-width: 300px" class="student-goal">
      <md-card-content>
        <md-fab-speed-dial  md-open="demo.isOpen" md-direction="left" class="md-scale md-fab-top-right menu-button">
          <md-fab-trigger>
            <md-button ng-click="openVert()" ng-hide="!editable && userRole === 'Student'" aria-label="menu" class="goal-menu md-icon-button">
              <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button ng-show="editable" ng-click="editGoal(goal)" class="md-fab md-primary md-raised md-mini">
              <md-icon md-font-set="material-icons"> mode_edit </md-icon>
              <md-tooltip>edit goal</md-tooltip>
            </md-button>
            <md-button ng-show="editable  && userRole !== 'Student'" ng-click="deleteGoal(goal)" class="md-fab md-warn md-raised md-mini">
              <md-icon md-font-set="material-icons"> delete </md-icon>
              <md-tooltip>delete goal</md-tooltip>
            </md-button>
            <md-button ng-show="!editable && userRole !== 'Student'" ng-click="markAchieved(goal)" class="md-fab md-primary md-raised md-mini">
              <md-icon md-font-set="material-icons"> thumb_up </md-icon>
              <md-tooltip>mark goal achieved</md-tooltip>
            </md-button>
            <md-button ng-show="!editable && userRole !== 'Student'" ng-click="markFailed(goal)" class="md-fab md-warn md-raised md-mini">
              <md-icon md-font-set="material-icons"> thumb_down </md-icon>
              <md-tooltip>mark goal failed</md-tooltip>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>

        <div layout="column" layout-align="center center">
          <div ng-show="advisorView" class="student-name" flex="85">{{goal.student.name}}</div>
          <div class="goal-title" flex="85">{{goal.name}}</div>
          <div ng-show="goal.goalType != 'OPEN'" id="gauge-{{::goal.id}}-{{::goalIdSuffix}}" class="goal-gauge" style="height: 160px; width:268px;"></div>
          <div ng-show="goal.goalType == 'OPEN'" layout='column' layout-align="center center" style="min-height:160px">
            <div style="font-size: 18px; margin-bottom: 20px" ng-show="!goal.editActive">{{goal.message}}</div>
            <div layout="column" ng-show="goal.editActive">
              <md-headline> What is your goal?</md-headline>
              <md-input-container>
                <textarea ng-model="goal.message"rows="5" md-select-on-focus></textarea>
              </md-input-container>
            </div>
          </div>
          <div layout="column" ng-show="goal.editActive">
            <md-headline ng-show="goal.goalType != 'OPEN'">Desired Value?</md-headline>
            <md-input-container class="woop-edit" ng-show="goal.goalType != 'OPEN'">
              <input required name="Grade" type="number" step="1" ng-model="goal.desiredValue"
                     max="100">
            </md-input-container>
          </div>
        </div>
      </md-card-content>
      <md-button ng-show="editable && userRole !== 'Student'" class="md-flat md-button-toggle approve-goal" md-ink-ripple="red" ng-click="approveGoal(goal)">
        <div layout="row" layout-align="center center">
          <div class="md-subhead">Approve Goal</div>
        </div>
      </md-button>
      <md-button class="md-raised md-button-toggle md-ink-ripple woop-toggler" ng-click="showWoopUser()">
        <div layout="row" layout-align="center center">
          <div class="md-subhead">WOOP</div>
          <div style="width:40px;"></div>
          <div class="toggle-icon-wrapper">
            <md-icon md-font-set="material-icons" class="material-icons md-36 arrow-icon"> keyboard_arrow_down </md-icon>
          </div>
        </div>
      </md-button>
      <div layout="column" class="woop-container slide-closed-woop" layout-align="center center">
        <md-headline class="woop-heading">Plan</md-headline>
        <div class="woop-text" ng-show="!goal.editActive">{{goal.plan}}</div>
        <md-input-container class="woop-edit" ng-show="goal.editActive">
          <textarea ng-model="goal.plan"rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <md-headline class="woop-heading">Obstacles</md-headline>
        <div class="woop-text" ng-show="!goal.editActive">{{goal.obstacles}}</div>
        <md-input-container class="woop-edit" ng-show="goal.editActive">
          <textarea ng-model="goal.obstacles"rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <md-headline class="woop-heading">Outcome</md-headline>
        <div class="woop-text" ng-show="!goal.editActive">{{goal.outcome}}
        </div>
        <md-input-container class="woop-edit" ng-show="goal.editActive">
          <textarea ng-model="goal.outcome"rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <div layout="row">
          <md-button ng-show="goal.editActive" ng-click="proposeEdit(goal)" aria-label="menu" class="md-fab md-primary md-raised md-mini">
            <md-icon md-font-set="material-icons">check</md-icon>
          </md-button>
          <md-button ng-show="goal.editActive" ng-click="goal.editActive = false;showWoop()" aria-label="menu" class="md-fab md-warn md-raised md-mini">
            <md-icon md-font-set="material-icons">close</md-icon>
          </md-button>
        </div>
      </div>
    </md-card>

</div>
