
.temp-Display {
  font-size: 50px;
}

.section-grid {
  margin: auto;
  text-align: center;
  max-width: 1500px;

  .section-name {
    font-size: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .assignment-toggler {
    margin: 0px 0px 0px 0px;
    border-radius:0px;
  }
  md-icon {
    transition: color 200ms ease;
  }
  .assignment-toggler:hover {
    background-color: #DBDBDB !important;
    md-icon{
      color:rgb(255,64,129);
    }

  }

  button .rotate {
    transform: rotate(180deg);
  }
  button .rotateCounterwise {
    transform: rotate(0deg);
  }
  button .rotate,
  button .rotateCounterwise {
    -webkit-transition: 250ms ease all;
    -moz-transition: 250ms ease all;
    -o-transition: 250ms ease all;
    transition: 250ms ease all;
  }

  .student-slide {
    width: 100%;
  }
  .slide-open-students {
    overflow: hidden;
    height:auto;
    max-height:2000px;
    transition:margin-bottom 10ms linear, max-height 300ms linear ;
    margin-bottom: 20px;
  }

  .slide-closed-students {
    overflow:hidden;
    max-height: 0px;
    transition:margin-bottom 10ms linear, max-height 300ms ease-out;
    margin-bottom: 0px
  }

}
