<div class="section-grid">
  <md-card>
    <md-card-content>
      <h2 class="md-headline">
        {{section.course.name}}
      </h2>
      <div layout="row" layout-wrap layout-align="center start">
        <div flex="33" class="grade-goal" style="position: relative">
          <h3 class="md-subhead">Class Average</h3>
          <span class="temp-Display">{{::section.aveGrade ? section.aveGrade + "%" : '--'}}</span>
        </div>
        <div flex="33" class="grade-item">
          <h3 class="md-subhead">Homework Completion</h3>
          <span class="temp-Display">{{::section.HomeworkCompletion ? section.HomeworkCompletion + "%" : '--'}}</span>
        </div>
        <div flex="33" class="component-grades grade-item">
          <h3 class="md-subhead">Average Absences</h3>
          <span class="temp-Display">{{::section.Attendance ? section.Attendance  : '--'}}</span>
        </div>
      </div>
      </md-card-content>

    <md-button class="md-raised md-button-toggle md-ink-ripple assignment-toggler" ng-click="showStudents()">
      <div layout="row" layout-align="center center">
        <div class="assignment-label md-subhead">Students</div>
        <div style="width:40px;"></div>
        <div class="toggle-icon-wrapper">
          <md-icon md-font-set="material-icons" class="material-icons md-36 arrow-icon"> keyboard_arrow_down </md-icon>
        </div>
      </div>
    </md-button>
    <student-tray section-id="{{section.id}}" students-data="section.enrolledStudents" class="student-slide slide-closed-students"></student-tray>
    </md-card>
</div>
