@keyframes slideOpenAssignments {
  0% { height: 0px; }
  100% { height: $scatterplot-height; }
}
@keyframes slideClosedAssignments {
  0% { height: $scatterplot-height; }
  100% { height: 0px; }
}
.temp-Display {
  font-size: 50px;
}

.section-grid {
  text-align: center;
  max-width: 1100px;

  .assignment-toggler {
    margin: 0px 0px 0px 0px;
    border-radius:0px;
  }
  md-icon {
    transition: color 200ms ease;
  }
  .assignment-toggler:hover {
    background-color: #DBDBDB !important;
    md-icon{
      color:rgb(255,64,129);
    }

  }

  button .rotate {
    transform: rotate(180deg);
  }
  button .rotateCounterwise {
    transform: rotate(0deg);
  }
  button .rotate,
  button .rotateCounterwise {
    -webkit-transition: 250ms ease all;
    -moz-transition: 250ms ease all;
    -o-transition: 250ms ease all;
    transition: 250ms ease all;
  }

  .student-slide {
    width: 100%;
  }
  .slide-open-students {
    overflow: hidden;
    height:$scatterplot-height;
    animation: slideOpenStudents 250ms linear;
  }
  .slide-closed-students {
    overflow:hidden;
    height:0px;
    animation: slideClosedStudents 250ms linear;
  }

	.band-0 {
		background-color: #E6E6E6;
	}

	.band-0-10 {
		background-color: $red-color;
	}
	.band-10-20 {
		background-color: $red-color;
	}
	.band-20-30 {
		background-color: $red-color;
	}
	.band-30-40 {
		background-color: $red-color;
	}
	.band-40-50 {
		background-color: $red-color;
	}
	.band-50-60 {
		background-color: $red-color;
	}
	.band-60-70 {
		background-color: $yellow-color;
	}
	.band-70-80 {
		background-color: $yellow-color;
	}
	.band-80-90 {
		background-color: $green-color;
	}
	.band-90-100 {
		background-color: $green-color;
	}
}
