<div class="section-grid">
  <md-card>
    <md-card-content>
      <div layout="row" layout-wrap layout-align="center center">
        <div flex="20" class="section-name">
          <h3 class="md-subhead">Class Name</h3>
          {{section.course.name}}
          <md-tooltip>{{::section.name}}</md-tooltip>
        </div>
        <div layout="row" layout-wrap layout-align="center start" flex="80">
          <div ng-show="section.aveGrade" flex="33" style="position: relative">
            <h3 class="md-subhead">Class Average</h3>
            <span class="temp-Display">{{::section.aveGrade ? section.aveGrade + "%" : '--'}}</span>
          </div>
          <div flex="33">
            <h3 class="md-subhead">Average Absences</h3>
            <span class="temp-Display">{{::section.Attendance ? section.Attendance  : '0'}}</span>
          </div>
          <div ng-show="section.aveGrade" flex="33">
            <h3 class="md-subhead">Homework Completion</h3>
            <span class="temp-Display">{{::section.HomeworkCompletion ? section.HomeworkCompletion + "%" : '--'}}</span>
          </div>

        </div>
      </div>

      </md-card-content>

    <md-button class="md-raised md-button-toggle md-ink-ripple assignment-toggler" ng-click="showStudents()">
      <div layout="row" layout-align="center center">
        <div class="assignment-label md-subhead">Students</div>
        <div style="width:40px;"></div>
        <div class="toggle-icon-wrapper">
          <md-icon md-font-set="material-icons" class="material-icons md-36 arrow-icon"> keyboard_arrow_down </md-icon>
        </div>
      </div>
    </md-button>
    <student-tray section-id="{{section.id}}" students-data="section.enrolledStudents" class="student-slide slide-closed-students slide-closed-margin"></student-tray>
    </md-card>
</div>
