<div class="students-grid">
	<div ng-show="showFilter">
		<div layout="row" layout-align="center center">
			<md-card>
      	<md-input-container md-no-float>
      		<input ng-model="search.name" placeholder="Search students by name" tabindex="1">
      	</md-input-container>
    	</md-card>
		</div>
	</div>
	<div style="padding-left:20%; padding-right:20%;" layout="column" layout-align="center center" ng-show="!studentsData">
		<h3 flex="50">Loading...</h3>
		<br/>
		<md-progress-linear md-mode="indeterminate" flex="50"></md-progress-linear>
	</div>
	<section layout="row" layout-align="center center">
		<div class="table-container" ng-show="studentsData">
			<div hide-sm layout="row" style="font-size: 16px; width:100%;">
				<div flex="{{cellWidth}}" class="table-cell" ng-show="showFilter"></div>
				<div flex="{{cellWidth}}" class="table-cell">Behavior</div>
				<div flex="{{cellWidth}}" class="table-cell">Homework</div>
				<div flex="{{cellWidth}}" class="table-cell">Attendance</div>
				<div flex="{{cellWidth}}" class="table-cell">GPA</div>
			</div>

			<div class="table-row" layout="row" layout-sm="column" ng-repeat="student in studentsData | filter:search:strict">
				<div class="table-cell" flex="{{cellWidth}}" flex-sm="100" ng-show="showFilter">
					<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
						<md-button class="md-raised" ng-click="goToStudent(student)">
						{{student.name}}
						<md-tooltip>Click for student details</md-tooltip>
					</md-button>
					</section>
				</div>
				<div class="table-cell" flex="{{cellWidth}}" flex-sm="100" ng-click="showBehaviorTray($event, student)">
					<div class="choropleth band-{{student.behaviorClass}}">
						<span class="mobile-label" hide-gt-sm>Behavior</span>
						<md-tooltip>{{student.behavior || 90}} prep score this {{student.behaviorPeriod || 'period'}}</md-tooltip>
					</div>
				</div>
				<div class="table-cell" flex="{{cellWidth}}" flex-sm="100">
					<div class="choropleth band-{{student.homeworkClass}}">
						<span class="mobile-label" hide-gt-sm>Homework Completion</span>
						<md-tooltip>{{student.homework || 0}}% this term</md-tooltip>
					</div>
				</div>
				<div class="table-cell" flex="{{cellWidth}}" flex-sm="100">
					<div class="choropleth band-{{student.attendanceClass}}">
						<span class="mobile-label" hide-gt-sm>Attendance</span>
						<md-tooltip>{{student.attendance || 0}} absenses this {{student.attendancePeriod || 'period'}}</md-tooltip>
					</div>
				</div>
				<div class="table-cell" flex="{{cellWidth}}" flex-sm="100">
					<div class="choropleth band-{{student.gpaClass}}">
						<span class="mobile-label" hide-gt-sm>GPA</span>
						<md-tooltip>Current GPA: {{student.gpa || '-'}}</md-tooltip>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>