<div layout layout-align="center start" layout-wrap>
  <div flex="none" flex-lt-lg="100" layout="column" layout-align="center center" layout-wrap class="my-surveys">
    <h3 class="md-headline">Surveys</h3>
    <div flex="none" layout layout-align="center center" class="survey" ng-repeat="survey in surveys">
      <div flex>{{survey.name}}</div>
      <div flex>{{survey.createdDate}}</div>
      <div flex>{{survey.creator.name}}</div>
      <md-button ng-click="surveyResponse(survey)">Response</md-button>
    </div>
  </div>
  <survey-response survey="survey" questions-and-answers="questions"></survey-response>
</div>
