.scatterplot {  
  font-size: 12px;
  font-family: Lato,"Helvetica Neue", Helvetica, Arial, sans-serif;

  .jumbotron-container {
    background-image: url(../assets/images/assignments.jpg);
  }
  .svg-container {
    margin: 3em 5em 3em 5em;
    background:white;
    border-radius:5px;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #737373;
    stroke-width:1px;
    shape-rendering: crispEdges;
  }

  circle:hover {
    fill-opacity: 1;
  }
  
  circle {
    fill-opacity: 0.75;
    cursor:pointer;
    -webkit-transition: fill .4s ease;
    -moz-transition: fill 1s ease;
    -o-transition: fill 1s ease;
    transition: fill 1s ease;
  }

  .Calculus {
    fill: #800;
  }

  .Biology {
    fill: #080;
  }

  .Chemistry {
    fill: #008;
  }
}

.scatterplot.DisableCalculus .Calculus, 
.scatterplot.DisableBiology .Biology, 
.scatterplot.DisableChemistry .Chemistry {
  fill:#BBB;
  fill-opacity: 0.2;
}

.tooltip-inner, .tooltip-arrow {
  opacity:0.95;
}
.tooltip-inner{
  background-color:#3B3B3B;
}
.tooltip.top > .tooltip-arrow {
  border-top-color:#3B3B3B;
}
.tooltip.bottom > .tooltip-arrow {
  border-bottom-color:#3B3B3B;
}
.tooltip.left > .tooltip-arrow {
  border-left-color:#3B3B3B;
}
.tooltip.right > .tooltip-arrow {
  border-right-color:#3B3B3B;
}