.student-goals {
	text-align:center;
    .page-header {
      text-align: center;
    }
	.column-container {
	    display: flex;
	}
	.column {
		display:flex;
		align-items: center;
    	justify-content: center;
	    flex: 1;
	    /*for demo purposes only */
	    background-color: #f2f2f2;
	    border-radius:5px;
	    box-sizing: border-box;
	    height:200px;
	    margin-left:5px;
	    margin-right:5px;
	    height:250px;
	    transition: background-color 0.5s ease;
	    cursor:pointer;
	}
	.column:hover {
		background-color: #E0E0E0;
	}
	.column-one {
	    order: 1;
	}
	.column-two {
	    order: 2;
	}
	.column-three {
	    order: 3;
	}
}