<div class="administration">
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Users">
        <md-content class="md-padding">
          <h1 class="md-display-2">Users</h1>
          <p>TODO: IMPL THIS: The users below do not have email accounts to which we can email default passwords. You can add email addresses for students here and we'll email an account verification to the user. You can also manually share the one time use passwords with the following users and ask them to login using the password. New users will be promted to change their password the first time they login and when they do so, they will no longer appear on this list.</p>

          <md-card class="user-list">
            <md-card-content>
              <div class="user-list-header user-row" layout="row">
                <div flex="25" style="padding-left:50px;">Name</div>
                <div flex="15">Type</div>
                <div flex="30">Username</div>
                <div flex="30">
                  Temp password
                </div>
              </div>
              <div class="user-row" layout="row" ng-repeat="user in firstTimeUsers">
                <div flex="25" layout="row" layout-align="left center">
                  <md-button aria-label="email" class="email-button md-icon-button">
                    <md-icon md-font-set="material-icons">email</md-icon>
                    <md-tooltip>Email secure password reset</md-tooltip>
                  </md-button>
                  <span>{{user.name}}</span>
                </div>
                <div flex="15" layout="row" layout-align="left center"><span>{{user.type}}</span></div>
                <div flex="30" layout="row" layout-align="left center"><span>{{user.username}}</span></div>
                <div flex="30" layout="row" layout-align="left center"><span>{{user.password}}</span></div>
              </div>
            </md-card-content>
          </md-card>

        </md-content>
      </md-tab>
      <md-tab label="Settings">
        <md-content class="md-padding">
          <h1 class="md-display-2">Settings</h1>
          <p>TODO: IMPL THIS: The color thresholds (green, yellow, red) and time bounds (week, term, year, all time) for behavior, attendance, homework completion  and GPA are configurable here. We've tried to start you off with sensible defaults, but you can change them to meet your needs. You can also configure your behavior formula here.</p>
        </md-content>
      </md-tab>
      <md-tab label="Defaults">
        <md-content class="md-padding">
          <h1 class="md-display-2">Default Goals</h1>
          <p>TODO: IMPL THIS: Students and teachers can set individual goals.  However, you may want to start with a set of default goals, which you can define here!</p>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>