.administration {
  .page-break { display: none; }

  .save-settings {
    display:block;
    margin:auto;
    text-align: center;
    span {
      margin:0px 20px;
    }
  }
  /*USERS*/
  .user-list {
    max-width:1100px;
    margin:auto;
    .user-list-header {
      text-align:center;
      font-size: $font-size-table-header;
    }
    .user-row {
      text-align:center;
      border-bottom: 1px solid $light-gray-color;
      padding: 5px 0px;
      md-input-container {
        padding-bottom:5px;
      }
      span {
        line-height: 48px;
        vertical-align: middle;
      }
    }
  }

  /*Settings*/
  .settings {
    .separator { 
      padding: 0px 10px; 
    }
    .settings-card { 
      width: 300px; 
      position:relative;
      h3 {
        text-align: center;
      }
    }
    .color {
      width:50px;
      height:40px;
    }
    .red {
      background-color: $red-color;
    }
    .yellow {
      background-color: $yellow-color;
    }
    .green {
      background-color: $green-color;
    }
    input {
      max-width: 100px;
    }
  }
}